.bloque {
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}

.linea {
    width: 300px;
    border:1px dashed gray;
    padding: 10px;
    margin-right:20px;
    display: inline-block;
}